@font-face {
  font-family: 'Crypto-Icon-Set';
  src:
    url('fonts/Crypto-Icon-Set.ttf?ouror4') format('truetype'),
    url('fonts/Crypto-Icon-Set.woff?ouror4') format('woff'),
    url('fonts/Crypto-Icon-Set.svg?ouror4#Crypto-Icon-Set') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-crypto-"], [class*=" icon-crypto-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Crypto-Icon-Set' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crypto-allergies-solid:before {
  content: "\e900";
}
.icon-crypto-asterisk-solid:before {
  content: "\e901";
}
.icon-crypto-balance-scale-solid:before {
  content: "\e902";
}
.icon-crypto-bitcoin-brands:before {
  content: "\e903";
}
.icon-crypto-braille-solid:before {
  content: "\e904";
}
.icon-crypto-chart-pie-solid:before {
  content: "\e905";
}
.icon-crypto-child-solid:before {
  content: "\e906";
}
.icon-crypto-cloud-upload-alt-solid:before {
  content: "\e907";
}
.icon-crypto-cloudsmith-brands:before {
  content: "\e908";
}
.icon-crypto-donate-solid:before {
  content: "\e909";
}
.icon-crypto-envelope-solid:before {
  content: "\e90a";
}
.icon-crypto-file-alt-solid:before {
  content: "\e90b";
}
.icon-crypto-file-audio-solid:before {
  content: "\e90c";
}
.icon-crypto-file-medical-alt-solid:before {
  content: "\e90d";
}
.icon-crypto-file-powerpoint-solid:before {
  content: "\e90e";
}
.icon-crypto-fingerprint-solid:before {
  content: "\e90f";
}
.icon-crypto-firstdraft-brands:before {
  content: "\e910";
}
.icon-crypto-globe-americas-solid:before {
  content: "\e911";
}
.icon-crypto-hands-helping-solid:before {
  content: "\e912";
}
.icon-crypto-hands-solid:before {
  content: "\e913";
}
.icon-crypto-headset-solid:before {
  content: "\e914";
}
.icon-crypto-hockey-puck-solid:before {
  content: "\e915";
}
.icon-crypto-home-solid:before {
  content: "\e916";
}
.icon-crypto-key-solid:before {
  content: "\e917";
}
.icon-crypto-layer-group-solid:before {
  content: "\e918";
}
.icon-crypto-location-arrow-solid:before {
  content: "\e919";
}
.icon-crypto-long-arrow-alt-right-solid:before {
  content: "\e91a";
}
.icon-crypto-map-marker-alt-solid:before {
  content: "\e91b";
}
.icon-crypto-money-check-alt-solid:before {
  content: "\e91c";
}
.icon-crypto-paper-plane-solid:before {
  content: "\e91d";
}
.icon-crypto-phone-solid:before {
  content: "\e91e";
}
.icon-crypto-poll-solid:before {
  content: "\e91f";
}
.icon-crypto-puzzle-piece-solid:before {
  content: "\e920";
}
.icon-crypto-signature-solid:before {
  content: "\e921";
}
.icon-crypto-user-friends-solid:before {
  content: "\e922";
}
.icon-crypto-user-plus-solid:before {
  content: "\e923";
}
.icon-crypto-users-solid:before {
  content: "\e924";
}
.icon-crypto-vote-yea-solid:before {
  content: "\e925";
}
.icon-crypto-walking-solid:before {
  content: "\e926";
}
.icon-crypto-wallet-solid:before {
  content: "\e927";
}
.icon-crypto-vertical:before {
  content: "\e928";
}
.icon-crypto-close:before {
  content: "\e929";
}
