@font-face {
  font-family: 'business';
  src:
    url('fonts/business.ttf?rva0v6') format('truetype'),
    url('fonts/business.woff?rva0v6') format('woff'),
    url('fonts/business.svg?rva0v6#business') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="business-"], [class*=" business-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'business' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.business-24:before {
  content: "\e900";
}
.business-award:before {
  content: "\e901";
}
.business-bag:before {
  content: "\e902";
}
.business-balance:before {
  content: "\e903";
}
.business-bank:before {
  content: "\e904";
}
.business-basket-1:before {
  content: "\e905";
}
.business-basket-2:before {
  content: "\e906";
}
.business-basket-3:before {
  content: "\e907";
}
.business-basket-4:before {
  content: "\e908";
}
.business-basket-5:before {
  content: "\e909";
}
.business-basket-6:before {
  content: "\e90a";
}
.business-bear:before {
  content: "\e90b";
}
.business-binoculars:before {
  content: "\e90c";
}
.business-box-1:before {
  content: "\e90d";
}
.business-box-2:before {
  content: "\e90e";
}
.business-box-3:before {
  content: "\e90f";
}
.business-box-4:before {
  content: "\e910";
}
.business-box-5:before {
  content: "\e911";
}
.business-box-6:before {
  content: "\e912";
}
.business-bull:before {
  content: "\e913";
}
.business-bullseye:before {
  content: "\e914";
}
.business-calculator:before {
  content: "\e915";
}
.business-card-1:before {
  content: "\e916";
}
.business-card-2:before {
  content: "\e917";
}
.business-card-3:before {
  content: "\e918";
}
.business-card-4:before {
  content: "\e919";
}
.business-card-5:before {
  content: "\e91a";
}
.business-card-6:before {
  content: "\e91b";
}
.business-card-7:before {
  content: "\e91c";
}
.business-card-8:before {
  content: "\e91d";
}
.business-card-9:before {
  content: "\e91e";
}
.business-card-10:before {
  content: "\e91f";
}
.business-card-11:before {
  content: "\e920";
}
.business-cart:before {
  content: "\e921";
}
.business-cash-1:before {
  content: "\e922";
}
.business-cash-2:before {
  content: "\e923";
}
.business-cash-3:before {
  content: "\e924";
}
.business-cash-4:before {
  content: "\e925";
}
.business-cash-5:before {
  content: "\e926";
}
.business-cash-6:before {
  content: "\e927";
}
.business-cash-8:before {
  content: "\e928";
}
.business-cash-9:before {
  content: "\e929";
}
.business-cash-10:before {
  content: "\e92a";
}
.business-cash-11:before {
  content: "\e92b";
}
.business-cash-12:before {
  content: "\e92c";
}
.business-cash-13:before {
  content: "\e92d";
}
.business-cash-14:before {
  content: "\e92e";
}
.business-cash-15:before {
  content: "\e92f";
}
.business-cash-16:before {
  content: "\e930";
}
.business-cash-v7:before {
  content: "\e931";
}
.business-chart-1:before {
  content: "\e932";
}
.business-chart-2:before {
  content: "\e933";
}
.business-chart-3:before {
  content: "\e934";
}
.business-chart-4:before {
  content: "\e935";
}
.business-chart-5:before {
  content: "\e936";
}
.business-chart-6:before {
  content: "\e937";
}
.business-chart-7:before {
  content: "\e938";
}
.business-chart-8:before {
  content: "\e939";
}
.business-chart-9:before {
  content: "\e93a";
}
.business-chart-10:before {
  content: "\e93b";
}
.business-chart-11:before {
  content: "\e93c";
}
.business-check:before {
  content: "\e93d";
}
.business-coupon:before {
  content: "\e93e";
}
.business-desk:before {
  content: "\e93f";
}
.business-diamond:before {
  content: "\e940";
}
.business-email:before {
  content: "\e941";
}
.business-gift:before {
  content: "\e942";
}
.business-globe:before {
  content: "\e943";
}
.business-gold:before {
  content: "\e944";
}
.business-handshake:before {
  content: "\e945";
}
.business-hundred:before {
  content: "\e946";
}
.business-inbox-1:before {
  content: "\e947";
}
.business-inbox-2:before {
  content: "\e948";
}
.business-inbox-3:before {
  content: "\e949";
}
.business-inbox-4:before {
  content: "\e94a";
}
.business-jigsaw:before {
  content: "\e94b";
}
.business-judge:before {
  content: "\e94c";
}
.business-money-1:before {
  content: "\e94d";
}
.business-money-2:before {
  content: "\e94e";
}
.business-money-3:before {
  content: "\e94f";
}
.business-money-4:before {
  content: "\e950";
}
.business-new-1:before {
  content: "\e951";
}
.business-new-2:before {
  content: "\e952";
}
.business-note:before {
  content: "\e953";
}
.business-note-2:before {
  content: "\e954";
}
.business-note-3:before {
  content: "\e955";
}
.business-note-4:before {
  content: "\e956";
}
.business-open:before {
  content: "\e957";
}
.business-origami:before {
  content: "\e958";
}
.business-paper-plane:before {
  content: "\e959";
}
.business-pen:before {
  content: "\e95a";
}
.business-percentage:before {
  content: "\e95b";
}
.business-pin-1:before {
  content: "\e95c";
}
.business-pin-2:before {
  content: "\e95d";
}
.business-poll-1:before {
  content: "\e95e";
}
.business-poll-2:before {
  content: "\e95f";
}
.business-presentation-1:before {
  content: "\e960";
}
.business-presentation-2:before {
  content: "\e961";
}
.business-purse:before {
  content: "\e962";
}
.business-qr:before {
  content: "\e963";
}
.business-safe-1:before {
  content: "\e964";
}
.business-safe-2:before {
  content: "\e965";
}
.business-sage-3:before {
  content: "\e966";
}
.business-sale:before {
  content: "\e967";
}
.business-scissors:before {
  content: "\e968";
}
.business-search:before {
  content: "\e969";
}
.business-servers-1:before {
  content: "\e96a";
}
.business-servers-2:before {
  content: "\e96b";
}
.business-settings:before {
  content: "\e96c";
}
.business-sold:before {
  content: "\e96d";
}
.business-suitcase-2:before {
  content: "\e96e";
}
.business-suitcase-2-1:before {
  content: "\e96f";
}
.business-table-1:before {
  content: "\e970";
}
.business-table-2:before {
  content: "\e971";
}
.business-tags:before {
  content: "\e972";
}
.business-tax:before {
  content: "\e973";
}
.business-tie:before {
  content: "\e974";
}
.business-wallet-1:before {
  content: "\e975";
}
.business-wallet-2:before {
  content: "\e976";
}
